<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.etc.ticket.mapper.AttachmentMapper">
  <resultMap id="BaseResultMap" type="com.icss.etc.ticket.entity.Attachment">
    <!--@mbg.generated-->
    <!--@Table t_attachment-->
    <id column="attachment_id" jdbcType="BIGINT" property="attachmentId" />
    <result column="ticket_id" jdbcType="BIGINT" property="ticketId" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
    <result column="file_size" jdbcType="BIGINT" property="fileSize" />
    <result column="file_type" jdbcType="VARCHAR" property="fileType" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    attachment_id, ticket_id, file_name, file_path, file_size, file_type, is_deleted, 
    create_by, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_attachment
    where attachment_id = #{attachmentId,jdbcType=BIGINT}
  </select>
  <insert id="insert" keyColumn="attachment_id" keyProperty="attachmentId" parameterType="com.icss.etc.ticket.entity.Attachment" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_attachment (ticket_id, file_name, file_path, 
      file_size, file_type, is_deleted, 
      create_by, create_time)
    values (#{ticketId,jdbcType=BIGINT}, #{fileName,jdbcType=VARCHAR}, #{filePath,jdbcType=VARCHAR}, 
      #{fileSize,jdbcType=BIGINT}, #{fileType,jdbcType=VARCHAR}, #{isDeleted,jdbcType=TINYINT}, 
      #{createBy,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="attachment_id" keyProperty="attachmentId" parameterType="com.icss.etc.ticket.entity.Attachment" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_attachment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ticketId != null">
        ticket_id,
      </if>
      <if test="fileName != null">
        file_name,
      </if>
      <if test="filePath != null">
        file_path,
      </if>
      <if test="fileSize != null">
        file_size,
      </if>
      <if test="fileType != null">
        file_type,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ticketId != null">
        #{ticketId,jdbcType=BIGINT},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null">
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null">
        #{fileSize,jdbcType=BIGINT},
      </if>
      <if test="fileType != null">
        #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.icss.etc.ticket.entity.Attachment">
    <!--@mbg.generated-->
    update t_attachment
    <set>
      <if test="ticketId != null">
        ticket_id = #{ticketId,jdbcType=BIGINT},
      </if>
      <if test="fileName != null">
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null">
        file_path = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null">
        file_size = #{fileSize,jdbcType=BIGINT},
      </if>
      <if test="fileType != null">
        file_type = #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where attachment_id = #{attachmentId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.icss.etc.ticket.entity.Attachment">
    <!--@mbg.generated-->
    update t_attachment
    set ticket_id = #{ticketId,jdbcType=BIGINT},
      file_name = #{fileName,jdbcType=VARCHAR},
      file_path = #{filePath,jdbcType=VARCHAR},
      file_size = #{fileSize,jdbcType=BIGINT},
      file_type = #{fileType,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      create_by = #{createBy,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where attachment_id = #{attachmentId,jdbcType=BIGINT}
  </update>
  <select id="selectByAll" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List" />
        from t_attachment
        <where>
            <if test="attachmentId != null">
                and attachment_id=#{attachmentId,jdbcType=BIGINT}
            </if>
            <if test="ticketId != null">
                and ticket_id=#{ticketId,jdbcType=BIGINT}
            </if>
            <if test="fileName != null">
                and file_name=#{fileName,jdbcType=VARCHAR}
            </if>
            <if test="filePath != null">
                and file_path=#{filePath,jdbcType=VARCHAR}
            </if>
            <if test="fileSize != null">
                and file_size=#{fileSize,jdbcType=BIGINT}
            </if>
            <if test="fileType != null">
                and file_type=#{fileType,jdbcType=VARCHAR}
            </if>
            <if test="isDeleted != null">
                and is_deleted=#{isDeleted,jdbcType=TINYINT}
            </if>
            <if test="createBy != null">
                and create_by=#{createBy,jdbcType=BIGINT}
            </if>
            <if test="createTime != null">
                and create_time=#{createTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update t_attachment
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="ticket_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.ticketId != null">
            when attachment_id = #{item.attachmentId,jdbcType=BIGINT} then #{item.ticketId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="file_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fileName != null">
            when attachment_id = #{item.attachmentId,jdbcType=BIGINT} then #{item.fileName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="file_path = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.filePath != null">
            when attachment_id = #{item.attachmentId,jdbcType=BIGINT} then #{item.filePath,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="file_size = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fileSize != null">
            when attachment_id = #{item.attachmentId,jdbcType=BIGINT} then #{item.fileSize,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="file_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fileType != null">
            when attachment_id = #{item.attachmentId,jdbcType=BIGINT} then #{item.fileType,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="is_deleted = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.isDeleted != null">
            when attachment_id = #{item.attachmentId,jdbcType=BIGINT} then #{item.isDeleted,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createBy != null">
            when attachment_id = #{item.attachmentId,jdbcType=BIGINT} then #{item.createBy,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createTime != null">
            when attachment_id = #{item.attachmentId,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
    </trim>
    where attachment_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.attachmentId,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="attachment_id" keyProperty="attachmentId" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_attachment
    (ticket_id, file_name, file_path, file_size, file_type, is_deleted, create_by, create_time
      )
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.ticketId,jdbcType=BIGINT}, #{item.fileName,jdbcType=VARCHAR}, #{item.filePath,jdbcType=VARCHAR}, 
        #{item.fileSize,jdbcType=BIGINT}, #{item.fileType,jdbcType=VARCHAR}, #{item.isDeleted,jdbcType=TINYINT}, 
        #{item.createBy,jdbcType=BIGINT}, #{item.createTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
</mapper>