<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.etc.ticket.mapper.ThemeMapper">
  <resultMap id="BaseResultMap" type="com.icss.etc.ticket.entity.Theme">
    <!--@mbg.generated-->
    <!--@Table sys_theme-->
    <id column="theme_id" jdbcType="VARCHAR" property="themeId" />
    <result column="theme_name" jdbcType="VARCHAR" property="themeName" />
    <result column="theme_type" jdbcType="VARCHAR" property="themeType" />
    <result column="is_system" jdbcType="TINYINT" property="isSystem" />
    <result column="is_default" jdbcType="TINYINT" property="isDefault" />
    <result column="config_json" jdbcType="LONGVARCHAR" property="configJson" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    theme_id, theme_name, theme_type, is_system, is_default, config_json, create_by, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sys_theme
    where theme_id = #{themeId,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.icss.etc.ticket.entity.Theme">
    <!--@mbg.generated-->
    insert into sys_theme (theme_id, theme_name, theme_type, 
      is_system, is_default, config_json, 
      create_by, create_time, update_time
      )
    values (#{themeId,jdbcType=VARCHAR}, #{themeName,jdbcType=VARCHAR}, #{themeType,jdbcType=VARCHAR}, 
      #{isSystem,jdbcType=TINYINT}, #{isDefault,jdbcType=TINYINT}, #{configJson,jdbcType=LONGVARCHAR}, 
      #{createBy,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.icss.etc.ticket.entity.Theme">
    <!--@mbg.generated-->
    insert into sys_theme
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="themeId != null">
        theme_id,
      </if>
      <if test="themeName != null">
        theme_name,
      </if>
      <if test="themeType != null">
        theme_type,
      </if>
      <if test="isSystem != null">
        is_system,
      </if>
      <if test="isDefault != null">
        is_default,
      </if>
      <if test="configJson != null">
        config_json,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="themeId != null">
        #{themeId,jdbcType=VARCHAR},
      </if>
      <if test="themeName != null">
        #{themeName,jdbcType=VARCHAR},
      </if>
      <if test="themeType != null">
        #{themeType,jdbcType=VARCHAR},
      </if>
      <if test="isSystem != null">
        #{isSystem,jdbcType=TINYINT},
      </if>
      <if test="isDefault != null">
        #{isDefault,jdbcType=TINYINT},
      </if>
      <if test="configJson != null">
        #{configJson,jdbcType=LONGVARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.icss.etc.ticket.entity.Theme">
    <!--@mbg.generated-->
    update sys_theme
    <set>
      <if test="themeName != null">
        theme_name = #{themeName,jdbcType=VARCHAR},
      </if>
      <if test="themeType != null">
        theme_type = #{themeType,jdbcType=VARCHAR},
      </if>
      <if test="isSystem != null">
        is_system = #{isSystem,jdbcType=TINYINT},
      </if>
      <if test="isDefault != null">
        is_default = #{isDefault,jdbcType=TINYINT},
      </if>
      <if test="configJson != null">
        config_json = #{configJson,jdbcType=LONGVARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where theme_id = #{themeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.icss.etc.ticket.entity.Theme">
    <!--@mbg.generated-->
    update sys_theme
    set theme_name = #{themeName,jdbcType=VARCHAR},
      theme_type = #{themeType,jdbcType=VARCHAR},
      is_system = #{isSystem,jdbcType=TINYINT},
      is_default = #{isDefault,jdbcType=TINYINT},
      config_json = #{configJson,jdbcType=LONGVARCHAR},
      create_by = #{createBy,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where theme_id = #{themeId,jdbcType=VARCHAR}
  </update>
  <select id="selectByAll" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List" />
        from sys_theme
        <where>
            <if test="themeId != null">
                and theme_id=#{themeId,jdbcType=VARCHAR}
            </if>
            <if test="themeName != null">
                and theme_name=#{themeName,jdbcType=VARCHAR}
            </if>
            <if test="themeType != null">
                and theme_type=#{themeType,jdbcType=VARCHAR}
            </if>
            <if test="isSystem != null">
                and is_system=#{isSystem,jdbcType=TINYINT}
            </if>
            <if test="isDefault != null">
                and is_default=#{isDefault,jdbcType=TINYINT}
            </if>
            <if test="configJson != null">
                and config_json=#{configJson,jdbcType=LONGVARCHAR}
            </if>
            <if test="createBy != null">
                and create_by=#{createBy,jdbcType=BIGINT}
            </if>
            <if test="createTime != null">
                and create_time=#{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                and update_time=#{updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update sys_theme
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="theme_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.themeName != null">
            when theme_id = #{item.themeId,jdbcType=VARCHAR} then #{item.themeName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="theme_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.themeType != null">
            when theme_id = #{item.themeId,jdbcType=VARCHAR} then #{item.themeType,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="is_system = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.isSystem != null">
            when theme_id = #{item.themeId,jdbcType=VARCHAR} then #{item.isSystem,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="is_default = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.isDefault != null">
            when theme_id = #{item.themeId,jdbcType=VARCHAR} then #{item.isDefault,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="config_json = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.configJson != null">
            when theme_id = #{item.themeId,jdbcType=VARCHAR} then #{item.configJson,jdbcType=LONGVARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createBy != null">
            when theme_id = #{item.themeId,jdbcType=VARCHAR} then #{item.createBy,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createTime != null">
            when theme_id = #{item.themeId,jdbcType=VARCHAR} then #{item.createTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateTime != null">
            when theme_id = #{item.themeId,jdbcType=VARCHAR} then #{item.updateTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
    </trim>
    where theme_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.themeId,jdbcType=VARCHAR}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into sys_theme
    (theme_id, theme_name, theme_type, is_system, is_default, config_json, create_by, 
      create_time, update_time)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.themeId,jdbcType=VARCHAR}, #{item.themeName,jdbcType=VARCHAR}, #{item.themeType,jdbcType=VARCHAR}, 
        #{item.isSystem,jdbcType=TINYINT}, #{item.isDefault,jdbcType=TINYINT}, #{item.configJson,jdbcType=LONGVARCHAR}, 
        #{item.createBy,jdbcType=BIGINT}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP}
        )
    </foreach>
  </insert>
</mapper>