<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.etc.ticket.mapper.TicketTypeMapper">
  <resultMap id="BaseResultMap" type="com.icss.etc.ticket.entity.TicketType">
    <!--@mbg.generated-->
    <!--@Table t_ticket_type-->
    <id column="type_id" jdbcType="BIGINT" property="type_id" />
    <result column="type_name" jdbcType="VARCHAR" property="type_name" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="is_deleted" jdbcType="TINYINT" property="is_deleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="update_time" jdbcType="TIMESTAMP" property="update_time" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    type_id, type_name, `status`, is_deleted, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_ticket_type
    where type_id = #{type_id,jdbcType=BIGINT}
  </select>
  <insert id="insert" keyColumn="type_id" keyProperty="type_id" parameterType="com.icss.etc.ticket.entity.TicketType" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_ticket_type (type_name, `status`, is_deleted, 
      create_time, update_time)
    values (#{type_name,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{is_deleted,jdbcType=TINYINT}, 
      #{create_time,jdbcType=TIMESTAMP}, #{update_time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="type_id" keyProperty="type_id" parameterType="com.icss.etc.ticket.entity.TicketType" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_ticket_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="type_name != null">
        type_name,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="is_deleted != null">
        is_deleted,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="type_name != null">
        #{type_name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="is_deleted != null">
        #{is_deleted,jdbcType=TINYINT},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        #{update_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.icss.etc.ticket.entity.TicketType">
    <!--@mbg.generated-->
    update t_ticket_type
    <set>
      <if test="type_name != null">
        type_name = #{type_name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="is_deleted != null">
        is_deleted = #{is_deleted,jdbcType=TINYINT},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where type_id = #{type_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.icss.etc.ticket.entity.TicketType">
    <!--@mbg.generated-->
    update t_ticket_type
    set type_name = #{type_name,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=TINYINT},
      is_deleted = #{is_deleted,jdbcType=TINYINT},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP}
    where type_id = #{type_id,jdbcType=BIGINT}
  </update>
  <select id="selectByAll" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from t_ticket_type
        <where>
            <if test="type_id != null">
                and type_id=#{type_id,jdbcType=BIGINT}
            </if>
            <if test="type_name != null">
                and type_name=#{type_name,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and `status`=#{status,jdbcType=TINYINT}
            </if>
            <if test="is_deleted != null">
                and is_deleted=#{is_deleted,jdbcType=TINYINT}
            </if>
            <if test="create_time != null">
                and create_time=#{create_time,jdbcType=TIMESTAMP}
            </if>
            <if test="update_time != null">
                and update_time=#{update_time,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update t_ticket_type
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="type_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.type_name != null">
            when type_id = #{item.type_id,jdbcType=BIGINT} then #{item.type_name,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.status != null">
            when type_id = #{item.type_id,jdbcType=BIGINT} then #{item.status,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="is_deleted = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.is_deleted != null">
            when type_id = #{item.type_id,jdbcType=BIGINT} then #{item.is_deleted,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.create_time != null">
            when type_id = #{item.type_id,jdbcType=BIGINT} then #{item.create_time,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.update_time != null">
            when type_id = #{item.type_id,jdbcType=BIGINT} then #{item.update_time,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
    </trim>
    where type_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.type_id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="type_id" keyProperty="type_id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_ticket_type
    (type_name, `status`, is_deleted, create_time, update_time)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.type_name,jdbcType=VARCHAR}, #{item.status,jdbcType=TINYINT}, #{item.is_deleted,jdbcType=TINYINT}, 
        #{item.create_time,jdbcType=TIMESTAMP}, #{item.update_time,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
</mapper>