<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.etc.ticket.mapper.TicketMapper">
  <resultMap id="BaseResultMap" type="com.icss.etc.ticket.entity.Ticket">
    <id column="ticket_id" jdbcType="BIGINT" property="ticketId" />
    <result column="type_id" jdbcType="BIGINT" property="typeId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="processor_id" jdbcType="BIGINT" property="processorId" />
    <result column="department_id" jdbcType="BIGINT" property="departmentId" />
    <result column="priority" jdbcType="TINYINT" property="priority" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="expect_finish_time" jdbcType="TIMESTAMP" property="expectFinishTime" />
    <result column="actual_finish_time" jdbcType="TIMESTAMP" property="actualFinishTime" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
    <!--  &lt;sql id="Base_Column_List"&gt;-->
    <!--    select ticket_id, type_id, title, content, processor_id, department_id, priority,-->
    <!--      `status`, expect_finish_time, actual_finish_time, is_deleted, create_by, update_by,-->
    <!--      create_time, update_time from t_ticket-->
    <!--  &lt;/sql&gt;-->


    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select ticket_id,
               type_id,
               title,
               content,
               processor_id,
               department_id,
               priority,
               status,
               expect_finish_time,
               actual_finish_time,
               is_deleted,
               create_by,
               update_by,
               create_time,
               update_time
        from t_ticket
        where ticket_id = #{ticket_id,jdbcType=BIGINT}
          and is_deleted = 0
    </select>
    <select id="selectAll" resultType="com.icss.etc.ticket.entity.Ticket">
        select ticket_id,
               type_id,
               title,
               content,
               processor_id,
               department_id,
               priority,
               status,
               expect_finish_time,
               actual_finish_time,
               is_deleted,
               create_by,
               update_by,
               create_time,
               update_time
        from t_ticket
        where is_deleted = 0
        order by create_time desc
    </select>
    <select id="selectByCondition" resultType="com.icss.etc.ticket.entity.Ticket">
        select
              ticket_id,
              type_id,
              title,
              content,
              processor_id,
              department_id,
              priority,
              status,
              expect_finish_time,
              actual_finish_time,
              is_deleted,
              create_by,
              update_by,
              create_time ,
              update_time
        from t_ticket
        where is_deleted = 0
        <if test="type_id != null">
            and type_id = #{type_id,jdbcType=BIGINT}
        </if>
        <if test="title != null and title != ">
            and title = #{title,jdbcType=VARCHAR}
        </if>
        <if test="content != null and content != ''">
            and content = #{content,jdbcType=VARCHAR}
        </if>
        <if test="processor_id != null">
            and processor_id = #{processor_id,jdbcType=BIGINT}
        </if>
        <if test="department_id != null">
            and department_id = #{department_id,jdbcType=BIGINT}
        </if>
        <if test="priority != null">
            and priority = #{priority,jdbcType=TINYINT}
        </if>
        <if test="status != null">
            and `status` = #{status,jdbcType=TINYINT}
        </if>
        <if test="expect_finish_time != null">
            and expect_finish_time = #{expect_finish_time,jdbcType=TIMESTAMP}
        </if>
        <if test="actual_finish_time != null">
            and actual_finish_time = #{actual_finish_time,jdbcType=TIMESTAMP}
        </if>
        <if test="create_by != null">
            and create_by = #{create_by,jdbcType=BIGINT}
        </if>
        <if test="update_by != null">
            and update_by = #{update_by,jdbcType=BIGINT}
        </if>
        <if test="create_time != null">
            and create_time = #{create_time,jdbcType=TIMESTAMP}
        </if>
        <if test="update_time != null">
            and update_time = #{update_time,jdbcType=TIMESTAMP}
        </if>
        order by create_time desc
    </select>
    <update id="deleteById" parameterType="java.lang.Long">
        update t_ticket
        set is_deleted = 1
        where ticket_id = #{ticket_id,jdbcType=BIGINT}
    </update>
    <insert id="insertTicket" keyColumn="ticket_id" keyProperty="ticket_id" parameterType="com.icss.etc.ticket.entity.Ticket" useGeneratedKeys="true">
        insert into t_ticket
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type_id != null">
                type_id,
            </if>
            <if test="title != null and title != ''">
                title,
            </if>
            <if test="content != null and content != ''">
                content,
            </if>
            <if test="processor_id != null">
                processor_id,
            </if>
            <if test="department_id != null">
                department_id,
            </if>
            <if test="priority != null">
                priority,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="expect_finish_time != null">
                expect_finish_time,
            </if>
            <if test="actual_finish_time != null">
                actual_finish_time,
            </if>
            <if test="create_by != null">
                create_by,
            </if>
            update_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type_id != null">
                #{type_id,jdbcType=BIGINT},
            </if>
            <if test="title != null and title != ''">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null and content != ''">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="processor_id != null">
                #{processor_id,jdbcType=BIGINT},
            </if>
            <if test="department_id != null">
                #{department_id,jdbcType=BIGINT},
            </if>
            <if test="priority != null">
                #{priority,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="expect_finish_time != null">
                #{expect_finish_time,jdbcType=TIMESTAMP},
            </if>
            <if test="actual_finish_time != null">
                #{actual_finish_time,jdbcType=TIMESTAMP},
            </if>
            <if test="create_by != null">
                #{create_by,jdbcType=BIGINT},
            </if>
            null,
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.icss.etc.ticket.entity.Ticket">
        update t_ticket
        <set>
            <if test="type_id != null">
                type_id = #{type_id,jdbcType=BIGINT},
            </if>
            <if test="title != null and title != ''">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null and content != ''">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="processor_id != null">
                processor_id = #{processor_id,jdbcType=BIGINT},
            </if>
            <if test="department_id != null">
                department_id = #{department_id,jdbcType=BIGINT},
            </if>
            <if test="priority != null">
                priority = #{priority,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=TINYINT},
            </if>
            <if test="expect_finish_time != null">
                expect_finish_time = #{expect_finish_time,jdbcType=TIMESTAMP},
            </if>
            <if test="actual_finish_time != null">
                actual_finish_time = #{actual_finish_time,jdbcType=TIMESTAMP},
            </if>
            update_time = default
        </set>
        where ticket_id = #{ticket_id,jdbcType=BIGINT}
    </update>
</mapper>