<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.etc.ticket.mapper.UserThemeMapper">
  <resultMap id="BaseResultMap" type="com.icss.etc.ticket.entity.UserTheme">
    <!--@mbg.generated-->
    <!--@Table sys_user_theme-->
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <id column="theme_id" jdbcType="VARCHAR" property="themeId" />
    <result column="is_current" jdbcType="TINYINT" property="isCurrent" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_id, theme_id, is_current, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sys_user_theme
    where user_id = #{userId,jdbcType=BIGINT}
      and theme_id = #{themeId,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.icss.etc.ticket.entity.UserTheme">
    <!--@mbg.generated-->
    insert into sys_user_theme (user_id, theme_id, is_current, 
      create_time, update_time)
    values (#{userId,jdbcType=BIGINT}, #{themeId,jdbcType=VARCHAR}, #{isCurrent,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.icss.etc.ticket.entity.UserTheme">
    <!--@mbg.generated-->
    insert into sys_user_theme
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="themeId != null">
        theme_id,
      </if>
      <if test="isCurrent != null">
        is_current,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="themeId != null">
        #{themeId,jdbcType=VARCHAR},
      </if>
      <if test="isCurrent != null">
        #{isCurrent,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.icss.etc.ticket.entity.UserTheme">
    <!--@mbg.generated-->
    update sys_user_theme
    <set>
      <if test="isCurrent != null">
        is_current = #{isCurrent,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
      and theme_id = #{themeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.icss.etc.ticket.entity.UserTheme">
    <!--@mbg.generated-->
    update sys_user_theme
    set is_current = #{isCurrent,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=BIGINT}
      and theme_id = #{themeId,jdbcType=VARCHAR}
  </update>
  <select id="selectByAll" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List" />
        from sys_user_theme
        <where>
            <if test="userId != null">
                and user_id=#{userId,jdbcType=BIGINT}
            </if>
            <if test="themeId != null">
                and theme_id=#{themeId,jdbcType=VARCHAR}
            </if>
            <if test="isCurrent != null">
                and is_current=#{isCurrent,jdbcType=TINYINT}
            </if>
            <if test="createTime != null">
                and create_time=#{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                and update_time=#{updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update sys_user_theme
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="is_current = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.isCurrent != null">
            when user_id = #{item.userId,jdbcType=BIGINT} then #{item.isCurrent,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createTime != null">
            when user_id = #{item.userId,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateTime != null">
            when user_id = #{item.userId,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
    </trim>
    where user_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.userId,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into sys_user_theme
    (user_id, theme_id, is_current, create_time, update_time)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.userId,jdbcType=BIGINT}, #{item.themeId,jdbcType=VARCHAR}, #{item.isCurrent,jdbcType=TINYINT}, 
        #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
</mapper>