<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.etc.ticket.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.icss.etc.ticket.entity.User">
    <!--@mbg.generated-->
    <!--@Table t_user-->
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="department_id" jdbcType="BIGINT" property="departmentId" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>


  <!-- 注册-->
  <insert id="register" parameterType="registeredDTO">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null  and username!=''">username,</if>
      <if test="password != null   and password!=''">password,</if>
      <if test="realName != null and realName!=''">real_name,</if>
      <if test="email != null  and email!=''">email,</if>
      <if test="phone != null   and phone!=''">phone,</if>
      status,
      is_deleted,
      create_by,
      update_by,
      create_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
     <if test="username != null  and username!=''">#{username},</if>
     <if test="password != null   and password!=''">#{password},</if>
     <if test="realName != null and realName!=''">#{realName},</if>
     <if test="email != null  and email!=''">#{email},</if>
     <if test="phone != null   and phone!=''">#{phone},</if>
     1,
      0,
     0,
    null,
     default,
    </trim>
  </insert>

  <!--  登陆-->
  <select id="login" resultMap="BaseResultMap">
    select * from t_user where username = #{username}
  </select>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_id, username, `password`, real_name, department_id, email, phone, `status`, 
    is_deleted, create_by, update_by, create_time, update_time
  </sql>

  <select id="selectUserInfo" parameterType="com.icss.etc.ticket.entity.vo.UserViewBackDTO">
    <!--@mbg.generated-->
    select
        u.user_id,
    u.username,u.real_name,u.phone,d.department_name,r.role_name
    from t_user u,t_role r,t_department d,t_user_role ur
    where u.department_id = d.department_id
      and u.user_id = #{user_id}
      and u.user_id = ur.user_id
      and ur.role_id = r.role_id
      and u.status = 1 and u.is_deleted = 0
  </select>

  <insert id="insert" keyColumn="user_id" keyProperty="userId" parameterType="com.icss.etc.ticket.entity.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_user (username, `password`, real_name, 
      department_id, email, phone, 
      `status`, is_deleted, create_by, 
      create_time)
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, 
      #{departmentId,jdbcType=BIGINT}, #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{isDeleted,jdbcType=TINYINT}, #{createBy,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="user_id" keyProperty="userId" parameterType="com.icss.etc.ticket.entity.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="realName != null">
        real_name,
      </if>
      <if test="departmentId != null">
        department_id,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
        update_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null">
        #{departmentId,jdbcType=BIGINT},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      null,
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.icss.etc.ticket.entity.User">
    <!--@mbg.generated-->
    update t_user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        `password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null">
        department_id = #{departmentId,jdbcType=BIGINT},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>

<!--  修改密码-->
  <update id="updateByPrimaryKey" parameterType="com.icss.etc.ticket.entity.dto.UserPasswordDTO">
    <!--@mbg.generated-->
    update t_user
    <set>
      <if test="newPassword != null and newPassword != '' ">password = #{newPassword},</if>
    </set>
    where user_id = #{userId}
  </update>

  <select id="selectByAll" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List" />
        from t_user
        <where>
            <if test="userId != null">
                and user_id=#{userId,jdbcType=BIGINT}
            </if>
            <if test="username != null">
                and username=#{username,jdbcType=VARCHAR}
            </if>
            <if test="password != null">
                and `password`=#{password,jdbcType=VARCHAR}
            </if>
            <if test="realName != null">
                and real_name=#{realName,jdbcType=VARCHAR}
            </if>
            <if test="departmentId != null">
                and department_id=#{departmentId,jdbcType=BIGINT}
            </if>
            <if test="email != null">
                and email=#{email,jdbcType=VARCHAR}
            </if>
            <if test="phone != null">
                and phone=#{phone,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and `status`=#{status,jdbcType=TINYINT}
            </if>
            <if test="isDeleted != null">
                and is_deleted=#{isDeleted,jdbcType=TINYINT}
            </if>
            <if test="createBy != null">
                and create_by=#{createBy,jdbcType=BIGINT}
            </if>
            <if test="updateBy != null">
                and update_by=#{updateBy,jdbcType=BIGINT}
            </if>
            <if test="createTime != null">
                and create_time=#{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                and update_time=#{updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update t_user
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="username = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.username != null">
            when user_id = #{item.userId,jdbcType=BIGINT} then #{item.username,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="`password` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.password != null">
            when user_id = #{item.userId,jdbcType=BIGINT} then #{item.password,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="real_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.realName != null">
            when user_id = #{item.userId,jdbcType=BIGINT} then #{item.realName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="department_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.departmentId != null">
            when user_id = #{item.userId,jdbcType=BIGINT} then #{item.departmentId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="email = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.email != null">
            when user_id = #{item.userId,jdbcType=BIGINT} then #{item.email,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="phone = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.phone != null">
            when user_id = #{item.userId,jdbcType=BIGINT} then #{item.phone,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.status != null">
            when user_id = #{item.userId,jdbcType=BIGINT} then #{item.status,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="is_deleted = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.isDeleted != null">
            when user_id = #{item.userId,jdbcType=BIGINT} then #{item.isDeleted,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createBy != null">
            when user_id = #{item.userId,jdbcType=BIGINT} then #{item.createBy,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateBy != null">
            when user_id = #{item.userId,jdbcType=BIGINT} then #{item.updateBy,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createTime != null">
            when user_id = #{item.userId,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateTime != null">
            when user_id = #{item.userId,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
    </trim>
    where user_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.userId,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="user_id" keyProperty="userId" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_user
    (username, `password`, real_name, department_id, email, phone, `status`, is_deleted, 
      create_by, update_by, create_time, update_time)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.username,jdbcType=VARCHAR}, #{item.password,jdbcType=VARCHAR}, #{item.realName,jdbcType=VARCHAR}, 
        #{item.departmentId,jdbcType=BIGINT}, #{item.email,jdbcType=VARCHAR}, #{item.phone,jdbcType=VARCHAR}, 
        #{item.status,jdbcType=TINYINT}, #{item.isDeleted,jdbcType=TINYINT}, #{item.createBy,jdbcType=BIGINT}, 
        #{item.updateBy,jdbcType=BIGINT}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP}
        )
    </foreach>
  </insert>

  <select id="selectByDepartmentId" resultType="com.icss.etc.ticket.entity.vo.DeptMemberVO">
    select
      u.user_id as userId,
      u.real_name as realName,
      u.email as email,
      u.status ,
      r.role_name as roleName
    from t_user u
    left join t_user_role ur on u.user_id = ur.user_id
    left join t_role r on ur.role_id = r.role_id
    where u.department_id = #{departmentId,jdbcType=BIGINT}
    and u.is_deleted = 0 and u.status = 1
     and r.is_deleted = 0
     and r.status = 1
    order by u.user_id asc , u.create_time desc
  </select>

  <update id="addUser">
    update t_user
    set department_id = #{departmentId,jdbcType=BIGINT}
    where user_id = #{userId,jdbcType=BIGINT}
      and is_deleted = 0
      and status = 1
  </update>

  <delete id="deleteUser">
    update t_user
    set department_id = null
    where user_id = #{userId,jdbcType=BIGINT}
      and is_deleted = 0
      and status = 1
  </delete>

  <select id="getUsernames" resultType="java.lang.String">
    select username from t_user
    where is_deleted = 0 and status = 1
  </select>
  <select id="selectByPrimaryKey" resultType="com.icss.etc.ticket.entity.User">
    select
        <include refid="Base_Column_List"/>
        from t_user
    where user_id = #{userId,jdbcType=BIGINT}
    and is_deleted = 0 and status = 1

  </select>

  <select id="getUserInfo" resultMap="BaseResultMap">
    select * from t_user where user_id = #{userId} and is_deleted = 0 and status = 1
  </select>
</mapper>